<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/images/weather_logo.png" />
        <title>About Page</title>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="image1" src="/images/me.jpeg" alt="" />
        </div>
        
        {{>footer}}
    </body>
</html>